{% extends 'base.html.twig' %}

{% block main %}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ product.name }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                <li><a href="{{ path('product_index') }}">{{ 'menu.products'|trans }}</a></li>
                <li class="active">{{ product.name }}</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container content">
        <div class="row portfolio-item margin-bottom-50">
            <!-- Carousel -->
            <div class="col-md-7">
                <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="{{ asset(product.image) }}">
                            <div class="carousel-caption">
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        {#                        <div class="item">
                                                    <img alt="" src="assets/img/main/img12.jpg">
                                                    <div class="carousel-caption">
                                                        <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img alt="" src="assets/img/main/img13.jpg">
                                                    <div class="carousel-caption">
                                                        <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                                                    </div>
                                                </div>#}
                    </div>

                    <div class="carousel-arrow">
                        <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a data-slide="next" href="#myCarousel" class="right carousel-control">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Carousel -->

            <!-- Content Info -->
            <div class="col-md-5">
                <h2>Portfolio Item Information</h2>
                <p>{{ product.description }}</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-jpy color-green"></i> {{ product.price }}</li>
                    <li><i class="fa fa-user color-green"></i> Jack Baur</li>
                    <li><i class="fa fa-calendar color-green"></i> 14,2003 February</li>
                    <li><i class="fa fa-tags color-green"></i> Websites, Google, HTML5/CSS3</li>
                </ul>
                <a href="#" class="btn-u btn-u-large">VISIT THE PROJECT</a>
            </div>
            <!-- End Content Info -->
        </div><!--/row-->
    </div>

{% endblock %}